.main-box{
    display: flex;
}
.one{
    width: 500px;
    text-align: justify;
    align-items: center;
    margin-left: 88px;
    margin-top: 100px;
    
}
.bb{
    margin-top: 30px !important;
}
.img-set{
    margin-left: 0px;
    width: 900px;
    height: 550px;
}
.img-set2{
    margin-left: 0px;
    margin-top: 30px;
    width: 870px;
    height: 400px;
}
.design{
    margin-top: 30px;
}
.two{
    font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 41px;
text-align: center;
text-decoration-line: underline;
text-transform: capitalize;
color: #C2BCBC;
}
.three{
    font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
text-align: justify;
text-indent: 5px;
text-transform: capitalize;
color: #B5ADAD;
}
.line{
    border: 1px solid #FFFFFF;
    margin-left: 30px;
    margin-right: 30px;
}
.fill{
    font-family: 'Epilogue';
    margin-top: 50px;
    margin-bottom: 80px;
font-style: normal;
font-weight: 400;
font-size: 47px;
line-height: 51px;
text-transform: capitalize;
text-align: center;
color: #FFFFFF;
}