.backpost{
text-decoration: none;
color: black !important;
}
.btn-back{
    height: 45px;
    width: 100px;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
background: #D9D9D9;
border-radius: 20px;
}
.boxing-file{
    opacity: 0;
    width: 387px;
    height: 293px;
    background: pink ;
}
.manwomen{
    margin-left: -200px !important;
    margin-top: -100px !important;
    width: 387px;
    height: 293px;
    margin: 0;
    transform: translate(25% , 50%);
    background: #D9D9D9;
    border-radius: 30px;
}
.under {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:3;
  }
  .over {
    position: absolute;
    left: 40px;
    top: 10px;
    z-index: 1;
  }
  .ipopop{
    margin-top: 170px !important;
  }
  .inp-field-desc{
    border: none !important;
    background: #FFFFFF;
    height: 47px;
    padding-left: 20px;
    border-radius: 50px;
    width: 300px;
    box-shadow: none;
    text-decoration: none;
    color: black;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    padding-left: 25px;
font-weight: 300;
font-size: 14px;
line-height: 25px;
text-indent: 10px;
border: none;
  }
  ::-webkit-input{
    border: none;
  }
  .inner-back{
    background: #FFFFFF;
    height: 50px;
    width: 350px;
border: 1px solid rgba(0, 0, 0, 0.7);
border-radius: 50px;
  }
  .button-sub{
    background: none;
    box-shadow: none;
    border: none;
  } 
  input{
    border: none !important;
  }
  .btn-like{
    background: none !important;
    padding-right: 5px;
    box-shadow: none !important;
    border: none !important;
  }