<div class="container foot">
    <div class="foot1">
        <span class="contact-text">Contact Info</span>
        <p class="address-text">Office :
            13/6, Kannabiran StreetGandhi Road ,
            Hubli-580003 </p>
    </div>
    <div class="foot3">
        <div>
            Site Map
        </div>
        <div>
            1 <br>
            2 <br>
            3 <br>
            4 <br>
            5 <br>
        </div>
    </div>
    <div class="foot5">
        <div>
            : E-mail Us :

        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
</div>